.login{
    width: 100%;
    margin-top:10%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    .box{
        
        width: 250px;
        height: 150px;
        border: 1px gray solid;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;

        .item {
            margin: 5px 0;
        }
    }
}